/.vs
/src/AkliaJob.Center.Web/bin
/src/AkliaJob.Center.Web/obj
/src/AkliaJob.Shared/obj
/src/AkliaJob.Shared/bin
/src/AkliaJob.Swagger/obj
/src/AkliaJob.Swagger/bin
/src/AkliaJob.SqlSugar/obj
/src/AkliaJob.SqlSugar/bin
/src/AkliaJob.Repository/obj
/src/AkliaJob.Repository/bin
/src/AkliaJob.Services/obj
/src/AkliaJob.Services/bin
/src/AkliaJob.Models/obj
/src/AkliaJob.Models/bin
/src/Aklia.Serilog/bin
/src/Aklia.Serilog/obj
/src/AkliaJob.Center.Web/Logs
